<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhxc.demo">

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.FragmentHostActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait" />


        <!--<activity-->
            <!--android:name=".activity.WebViewActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait" />-->


        <!-- UMENG -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55b1e6bb67e58ef849000758" /> <!-- 友盟AppKey，需要修改 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- UMENG -->

    </application>

</manifest>
